/***************************************************************************************************************************************************************
								"MODERN BLACK" dhtmlxMenu Skin
***************************************************************************************************************************************************************/

/*
	top level container
*/
table.dhtmlxMenu_modern_black_TBL {
	height: 30px;
	position: relative;
}
iframe.dhtmlxMenu_IE6CoverFix_modern_black {
	position: absolute;
	border: none;
	background: #000000;
	filter: alpha(opacity=100);
}

div.dhtmlxMenu_modern_black_Middle {
	position: relative;
	height: 30px;
	width: 100%;
	left: 0px;
	top: 0px;
	border: none;
	background-color: none;
	background-image: url("dhtmlxmenu_top_bg_middle.gif");
	-moz-user-select: none;
}
table td.dhtmlxMenu_modern_black_Left {
	width: 8px;
	font-size: 2px;
	background-image: url("dhtmlxmenu_top_bg_left.gif");
	background-repeat: no-repeat;
}
table td.dhtmlxMenu_modern_black_Right {
	width: 8px;
	font-size: 2px;
	background-image: url("dhtmlxmenu_top_bg_right.gif");
	background-repeat: no-repeat;
}
/*
	top level items
*/
div.dhtmlxMenu_modern_black_TopLevel_Item_Normal {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	height: 21px;
	height=25px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	margin: 1px;
	amargin-top: 2px;
	margin-top: 4px;
}
div.dhtmlxMenu_modern_black_TopLevel_Item_Disabled {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
	cursor: default;
	white-space: nowrap;
	height: 21px;
	height=25px;
	-moz-user-select: none;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	margin: 1px;
	amargin-top: 2px;
	margin-top: 4px;
}
div.dhtmlxMenu_modern_black_TopLevel_Item_Selected {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	/* background-color: #648DB3; */
	cursor: pointer;
	color: #FFFFFF;
	white-space: nowrap;
	-moz-user-select: none;
	height: 19px;
	height=25px;
	background-image: url("dhtmlxmenu_top_bg_over.gif");
	background-repeat: repeat-x;
	border-top: #343434 1px solid;
	border-left: #343434 1px solid;
	border-bottom: #B0B0B0 1px solid;
	border-right: #B0B0B0 1px solid;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	amargin-top: 1px;
	margin-top: 3px;
}
/*
	sub level polygon
*/
div.dhtmlxMenu_modern_black_SubLevelArea_Polygon {
	position: absolute;
	background-color: #F6F6EE;
	border: #000000 1px solid;
	overflow: hidden;
	padding-top: 1px;
	padding-bottom: 1px;
}
/*
	separator
*/
div.dhtmlxMenu_modern_black_SubLevelArea_Separator {
	font-size: 1px;
	cursor: default;
	-moz-user-select: none;
	border-top: #D3D2D2 1px solid;
	border-bottom: #FFFFFF 1px solid;
	margin-top: 1px;
}
/*
	items
*/
div.dhtmlxMenu_modern_black_SubLevelArea_Item_Normal {
	position: relative;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	background: none;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxMenu_modern_black_SubLevelArea_Item_Disabled {
	position: relative;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	background: none;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxMenu_modern_black_SubLevelArea_Item_Selected {
	position: relative;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	background-color: #CCCCCC;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: pointer;
	white-space: nowrap;
	-moz-user-select: none;
}
/*
	hotkey
*/
div.dhtmlxMenu_modern_black_SubLevelArea_Item_HotKey {
	position: absolute;
	top: 6px;
	font-size: 10px;
	right: 8px;
	color: #606060;
}
/*
	arrow cascade (right, loading)
*/
img.dhtmlxMenu_modern_black_SubLevelArea_Item_Arrow {
	width: 4px;
	height: 7px;
	position: absolute;
	margin-top: 4px;
	right: 8px;
}
img.dhtmlxMenu_modern_black_SubLevelArea_Item_Arrow_Loading {
	width: 10px;
	height: 10px;
	position: absolute;
	margin-top: 1px;
	right: 6px;
}
/*
	icons (checkboxes and radios are use the same class)
*/
img.dhtmlxMenu_modern_black_TopLevel_Item_Icon {
	position: absolute;
	margin-top: -1px;
	left: 6px;
	width: 16px;
	height: 16px;
}
img.dhtmlxMenu_modern_black_SubLevelArea_Item_Icon {
	position: absolute;
	top: 3px;
	left: 6px;
	_left: -23px;
	width: 16px;
	height: 16px;
}
/*
	arrows limit (up, down)
*/
div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowUp {
	position: absolute;
	height: 16px;
	height=17px;
	font-size: 1px;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-image: url("dhtmlxmenu_arrow_bg_default.gif");
	background-repeat: repeat-x;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowUp_Over {
	position: absolute;
	height: 16px;
	height=17px;
	font-size: 1px;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-image: url("dhtmlxmenu_arrow_bg_over.gif");
	background-repeat: repeat-x;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowUp_Disabled {
	position: absolute;
	height: 16px;
	height=17px;
	font-size: 1px;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-image: url("dhtmlxmenu_arrow_bg_disable.gif");
	background-repeat: repeat-x;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowUp div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_up.gif");
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_up_over.gif");
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_up_dis.gif");
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowDown {
	position: absolute;
	height: 16px;
	height=17px;
	font-size: 1px;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	background-image: url("dhtmlxmenu_arrow_bg_default.gif");
	background-repeat: repeat-x;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowDown_Over {
	position: absolute;
	height: 16px;
	height=17px;
	font-size: 1px;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	background-image: url("dhtmlxmenu_arrow_bg_over.gif");
	background-repeat: repeat-x;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowDown_Disabled {
	position: absolute;
	height: 16px;
	height=17px;
	font-size: 1px;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	background-image: url("dhtmlxmenu_arrow_bg_disable.gif");
	background-repeat: repeat-x;
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowDown div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_down.gif");
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_down_over.gif");
}
div.dhtmlxMenu_modern_black_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_modern_black_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_down_dis.gif");
}