.gridTitle{
    font-family:Verdana;
    font-size:13px;
    font-style:normal;
    line-height:normal;
    font-weight:bold;
    color:#00ff00;
    text-shadow: 3px 2px red;
}


.columRed{
    color: #00ff00;
}