.failure {
    color:#ff0000;
    font-weight:bold;
}
.alert {
    color:#ff8000;
    font-weight:bold;
}
.success {
    color:#008000;
    font-weight:bold;
    font-size: 2em;
}
.azul {
    color:#0000FF;
    font-size: 2em;
}
.gold {
    color:#FFD700;
    font-weight:bold;
    font-size: 2em;
}

.buttonBigGreen {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonNoBorder {
    /** background-color: transparent; **/
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.buttonTransparent {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/********************** 
  CSS Pseudo-elements
  https://origin.fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements
*******************/ 
.icon::before {
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
}
.login::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
}
.btc::before {
    font-family: "Font Awesome 6 Brands";
    color:#FFD700;
    font-weight:bold;
    font-size: 1.5em;
    content: "\f379";
}
.php::before {
    font-family: "Font Awesome 6 Brands";
    color:#0000FF;
    font-weight:bold;
    font-size: 1.5em;
    content: "\f457";
}