
/*
Copyright DHTMLX LTD. http://www.dhtmlx.com
You allowed to use this component or parts of it under GPL terms
To use it on other terms or get Professional edition of the component please contact us at sales@dhtmlx.com
*/


.tlc, .trc { zoom: 1 }
.box
	{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	padding: 0;
	text-align: left;
	width:80%;				/* <-- use this to tie width to viewport size */
	width: 55em;				/* <-- use this for a set width */
	background-color: #eeeeee;
	border:none;
	}

.content
	{
	padding-top:5px;
	padding-bottom:3px;
	padding-right:1px;
	padding-left:6px;
	}
/* ---=== border code follows ===--- */
/*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border
*/

.tlc, .trc, .blc, .brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

.tlc
	{
	background-image:url(tlc.png);
	background-position: 0% 0%;
	}

.trc
	{
	background-image:url(trc.png);
	background-position: 100% 0%;
	}

.blc
	{
	background-image:url(blc.png);
	background-position: 0% 100%;
	}

.brc
	{
	background-image:url(brc.png);
	background-position: 100% 100%;
	}

.tb, .bb
	{
	background-color: transparent;
	background-repeat: repeat-x;
	}

.tb
	{
	background-image:url(tb.png);
	background-position: 0% 0%;
	}

.bb
	{
	background-image:url(bb.png);
	background-position: 50% 100%;
	}

.rb
	{
	background-image:url(r.png);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

.lb
	{
	background-color: #eeeeee;
	background-image:url(l.png);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
