/***************************************************************************************************************************************************************
								"GLASSY BLUE" dhtmlxMenu Skin
***************************************************************************************************************************************************************/

/*
	top level container
*/
/*
table.dhtmlxMenu_glassy_blue_TBL {
	height: 25px;
	position: relative;
}
*/
iframe.dhtmlxMenu_IE6CoverFix_glassy_blue {
	position: absolute;
	border: none;
	background: #000000;
	filter: alpha(opacity=100);
}

div.dhtmlxMenu_glassy_blue_Middle {
	position: relative;
	height: 25px;
	/*
	width: 100%;
	left: 0px;
	top: 0px;
	*/
	border: none;
	background-color: none;
	background-image: url("dhtmlxmenu_top_bg_middle.gif");
	-moz-user-select: none;
}
/*
table td.dhtmlxMenu_glassy_blue_Left {
	width: 7px;
	font-size: 2px;
	background-image: url("dhtmlxmenu_top_bg_left.gif");
	background-repeat: no-repeat;
}
table td.dhtmlxMenu_glassy_blue_Right {
	width: 7px;
	font-size: 2px;
	background-image: url("dhtmlxmenu_top_bg_right.gif");
	background-repeat: no-repeat;
}
*/
/*
	top level items
*/
div.dhtmlxMenu_glassy_blue_TopLevel_Item_Normal {
	position: absolute;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	top: 5px;
	margin: 1px;
	padding-left: 7px;
	padding-right: 7px;
}
div.dhtmlxMenu_glassy_blue_TopLevel_Item_Disabled {
	position: absolute;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #909090;
	cursor: default;
	white-space: nowrap;
	top: 5px;
	margin: 1px;
	padding-left: 7px;
	padding-right: 7px;
}
div.dhtmlxMenu_glassy_blue_TopLevel_Item_Selected {
	position: absolute;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	cursor: pointer;
	color: #000000;
	white-space: nowrap;
	-moz-user-select: none;
	height: 19px;
	height=25px;
	background-image: url("dhtmlxmenu_top_bg_over.gif");
	background-repeat: repeat-x;
	border-left: #739DCC 1px solid;
	border-right: #A7C7DF 1px solid;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
}
/*
	sub level polygon
*/
div.dhtmlxMenu_glassy_blue_SubLevelArea_Polygon {
	position: absolute;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #F3FAFF;
	border-top: #A7C7DF 1px solid;
	border-left: #A7C7DF 1px solid;
	border-bottom: #739DCC 1px solid;
	border-right: #739DCC 1px solid;
	overflow: hidden;
}
/*
	separator
*/
div.dhtmlxMenu_glassy_blue_SubLevelArea_Separator {
	font-size: 1px;
	cursor: default;
	-moz-user-select: none;
	margin-top: 1px;
	border-top: #A7C7DF 1px solid;
	border-bottom: #FFFFFF 1px solid;
}
/*
	items
*/
div.dhtmlxMenu_glassy_blue_SubLevelArea_Item_Normal {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	/*
	border-left: #FFFFFF 1px solid;
	border-right: #FFFFFF 1px solid;
	background-color: #E6E5E5;
	*/
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_Item_Disabled {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #999999;

	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	abackground-color: #E6E5E5;
	aborder-left: #FFFFFF 1px solid;
	aborder-right: #FFFFFF 1px solid;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_Item_Selected {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color: #CEE3F0;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	/*
	border-left: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
	*/
	cursor: pointer;
	white-space: nowrap;
	-moz-user-select: none;
}
/*
	hotkey
*/
div.dhtmlxMenu_glassy_blue_SubLevelArea_Item_HotKey {
	position: absolute;
	top: 6px;
	font-size: 10px;
	right: 8px;
	color: #606060;
}
/*
	arrow cascade (right, loading)
*/
img.dhtmlxMenu_glassy_blue_SubLevelArea_Item_Arrow {
	width: 4px;
	height: 7px;
	position: absolute;
	margin-top: 4px;
	right: 8px;
}
img.dhtmlxMenu_glassy_blue_SubLevelArea_Item_Arrow_Loading {
	width: 11px;
	height: 11px;
	position: absolute;
	amargin-top: 1px;
	right: 6px;
}
/*
	icons (checkboxes and radios are use the same class)
*/
img.dhtmlxMenu_glassy_blue_TopLevel_Item_Icon {
	position: absolute;
	margin-top: -1px;
	left: 6px;
	width: 16px;
	height: 16px;
}
img.dhtmlxMenu_glassy_blue_SubLevelArea_Item_Icon {
	position: absolute;
	top: 3px;
	left: 6px;
	_left: -23px;
	width: 16px;
	height: 16px;
}
/*
	arrows limit (up, down)
*/
div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #D3E8F7;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowUp {
	position: absolute;
	height: 16px;
	height=18px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1px;
	background-color: #FFFFFF;
	border-top: #A7C7DF 1px solid;
	border-left: #A7C7DF 1px solid;
	border-right: #739DCC 1px solid;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowUp_Over {
	position: absolute;
	height: 16px;
	height=18px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1px;
	background-color: #FFFFFF;
	border-top: #A7C7DF 1px solid;
	border-left: #A7C7DF 1px solid;
	border-right: #739DCC 1px solid;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowUp_Disabled {
	position: absolute;
	height: 16px;
	height=18px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1px;
	background-color: #FFFFFF;
	border-top: #A7C7DF 1px solid;
	border-left: #A7C7DF 1px solid;
	border-right: #739DCC 1px solid;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowUp div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_up.gif");
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_up_over.gif");
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_up_dis.gif");
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowDown {
	position: absolute;
	height: 16px;
	height=18px;
	font-size: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-left: #A7C7DF 1px solid;
	border-right: #739DCC 1px solid;
	border-bottom: #739DCC 1px solid;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowDown_Over {
	position: absolute;
	height: 16px;
	height=18px;
	font-size: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-left: #A7C7DF 1px solid;
	border-right: #739DCC 1px solid;
	border-bottom: #739DCC 1px solid;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowDown_Disabled {
	position: absolute;
	height: 16px;
	height=18px;
	font-size: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-left: #A7C7DF 1px solid;
	border-bottom: #739DCC 1px solid;
	border-right: #739DCC 1px solid;
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowDown div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_down.gif");
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_down_over.gif");
}
div.dhtmlxMenu_glassy_blue_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_glassy_blue_SubLevelArea_Arrow {
	background-image: url("dhtmlxmenu_arrow_down_dis.gif");
}